body {
  background: linear-gradient(90deg, #E57452 0%, #0741AD 100%);
  color: #F4F5F8;
  font-family: 'Roboto Slab', serif;
}
html {
  font-size: 62.5%;
}
.back {
  color: #0741AD;
  border-radius: 15px 50px;
  background: linear-gradient(90deg, #e9ddd9 0%, #F4F5F8 100%);
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #F4F5F8;
}
h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #0741AD;
}
h3 {
  font-size: 2.3rem;
  color: #0741AD;
}
p {
  font-size: 1.7rem;
  color: #070707;
}
.bottom {
  text-align: center;
}
.bottom p {
  color: #F4F5F8;
}
.hero {
  background: linear-gradient(90deg, #E57452 0%, #0741AD 100%);
}
.hero h1 {
  color: #F4F5F8;
  text-align: center;
}
.home-img {
  border-radius: 15px 50px 30px;
  border: 4px solid #070707;
  width: 300px;
  height: 250px;
  box-shadow: 10px 10px 5px grey;
}
.button {
  margin-top: 4%;
  width: 20%;
  background-color: #0741AD;
  color: #F4F5F8;
  border-color: #0741AD;
}
.button:hover {
  background-color: #F4F5F8;
  color: #0741AD;
}
ul {
  list-style-type: square;
  padding-left: 2%;
  line-height: 4rem;
}
ul li {
  font-size: 1.8rem;
  color: #070707;
}
.nav-header {
  font-size: 2rem;
  color: #F4F5F8;
}
.has-dropdown {
  background-color: #0741AD;
}
.navbar-item {
  font-size: 1.5rem;
  color: #F4F5F8;
}
.navbar-dropdown {
  background-color: #0741AD;
}
span {
  color: #F4F5F8;
  font-weight: bold;
}
.btn-about {
  background-color: #0741AD;
}
.btn-about:hover {
  background-color: #E57452;
}
.about-img {
  width: 250;
  height: 200px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px grey;
}
.about-header {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px #0741AD;
  font-size: 4.5rem;
}
.about-us {
  font-size: 2.5rem;
  color: #F4F5F8;
}
