body {
  background: linear-gradient(90deg, #E57452 0%, #0741AD 100%);
  color: #F4F5F8;
}
html {
  font-size: 62.5%;
}
.back {
  color: #0741AD;
  border-radius: 15px 50px;
  background: linear-gradient(90deg, #e9ddd9 0%, #F4F5F8 100%);
}
h1 {
  font-size: 3.3rem;
  font-weight: bold;
  color: #F4F5F8;
}
h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #0741AD;
}
h3 {
  font-size: 2.3rem;
  color: #0741AD;
}
p {
  font-size: 1.7rem;
  color: #070707;
}
.bottom {
  text-align: center;
}
.hero {
  background: linear-gradient(90deg, #E57452 0%, #0741AD 100%);
}
.hero h1 {
  color: #F4F5F8;
  text-align: center;
}
.img {
  border-radius: 15px 50px 30px;
  border: 4px solid #070707;
}
.home-img {
  width: 300px;
  height: 250px;
}
.button {
  margin-top: 4%;
  width: 20%;
  background-color: #0741AD;
  color: #F4F5F8;
  border-color: #0741AD;
}
.button:hover {
  background-color: #F4F5F8;
  color: #0741AD;
}
.about-us {
  font-size: 2rem;
}
span {
  color: #F4F5F8;
  font-weight: bold;
}
.btn-about {
  background-color: #0741AD;
}
.btn-about:hover {
  background-color: #E57452;
}
.dropdown {
  z-index: 2;
  position: absolute;
  right: 25px;
  cursor: pointer;
}
.dropdown .menu-button {
  padding: 15px;
  border: 3px solid #070707;
  color: #F4F5F8;
  font-size: 20px;
  font-weight: bold;
}
.dropdown .menu-button:hover {
  background-color: #E57452;
}
.dropdown .dropdown-content {
  width: 100%;
  position: absolute;
  background-color: #0741AD;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2px solid #F4F5F8;
}
.dropdown .dropdown-item {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: #F4F5F8;
}
.dropdown .dropdown-item:hover {
  color: #F4F5F8;
  background-color: #E57452;
}
.dropdown .dropdown-hidden {
  display: none;
}
