.about-us {
    font-size: 2.0rem;
}
span {
    color: @font-color;
    font-weight: bold;
}

.btn-about {
    background-color: @third-brand;
}
.btn-about:hover{
background-color: @first-brand;
}

.dropdown {
  z-index: 2;
  position: absolute;
  right: 25px;
  cursor: pointer;
  .menu-button{
    padding: 15px;
    border: 3px solid @fourth-brand;
    color: @font-color;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      background-color: @first-brand;
    }
  }
  .dropdown-content {
    width: 100%;
    position: absolute;
    background-color: @third-brand;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 10px;
    border: 2px solid @font-color;
  }
  .dropdown-item {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    text-decoration: none;
    color: @font-color;
    &:hover {
      color: @font-color;
      background-color: @first-brand;
    }
  }
  .dropdown-hidden {
    display: none;
  }
}