.nav-header{
    font-size: 2.0rem;
    color: @font-color;
}

.has-dropdown{
    background-color: @third-brand;
}

.navbar-item {
    font-size: 1.5rem;
    color: @font-color;
}

.navbar-dropdown{
    background-color: @third-brand;
}

span {
    color: @font-color;
    font-weight: bold;
}

.btn-about {
    background-color: @third-brand;
}
.btn-about:hover{
background-color: @first-brand;
}

.about-img {
    width: 250;
    height: 200px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
}

.about-header {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px @third-brand;
    font-size: 4.5rem;
}

.about-us {
    font-size: 2.5rem;
    color: @font-color;
}

