body{
    background: linear-gradient(90deg, @first-brand 0%, @third-brand 100%);
    color: @font-color;
    font-family: 'Roboto Slab', serif;
}

html {
    font-size: 62.5%;
}



.back{ 
    color: @third-brand;
    border-radius: 15px 50px;
    background:linear-gradient(90deg, @fifth-brand 0%, @font-color 100%);
}

h1 {
    font-size: 3.0rem;
    font-weight: bold;
    color: @font-color;
}

h2{
    font-size: 3.0rem;
    font-weight: bold;
    color:@third-brand;
}

h3{
    font-size: 2.3rem;
    color: @third-brand;
}

p {
    font-size: 1.7rem;
    color: @fourth-brand;
}

.bottom{
    text-align: center;
    p {
        color: @font-color;
    }
    
}