.hero {

    background:linear-gradient(90deg, @first-brand 0%, @third-brand 100%);
    h1{
        color: @font-color;
        text-align: center;
    }
    

    
}


.home-img{
    border-radius: 15px 50px 30px;
    border: 4px solid @fourth-brand;
    width: 300px;
    height: 250px;
}

.button{
    margin-top: 4%;
    width: 20%;
    background-color: @third-brand;
    color: @font-color;
    border-color: @third-brand;
}

.button:hover {
    background-color:@font-color;
    color:@third-brand;
}

