.hero {

    background:linear-gradient(90deg, @first-brand 0%, @third-brand 100%);
    h1{
        color: @font-color;
        text-align: center;
    }
    

    
}

.img{
    border-radius: 15px 50px 30px;
    border: 4px solid @first-brand;
}

.button{
    margin-top: 4%;
    width: 20%;
    background-color: @first-brand;
    color: @font-color;
    border-color: @third-brand;
}

